* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
#container {
    width: 400px;
    margin: 20px auto;
    text-align: center;
    border: 10px solid pink;
    border-radius: 20px;
}


h1 {
    animation-name: font;
    animation-duration: 3s;
}
@keyframes font {
    0% {
        color: red;
    }
    25% {
        color: yellow;
    }
    50% {
        color: green;
    }
    75% {
        color: blue;
    }
    100%{
        color: purple;
    }
}
